$content: 1024px;
$grey-darker: #1F2D3D;
$form-lable: #5E6D82;
$link: #20a0ff;
$link-hover: #4db3ff;
$theme-color: #555;
$theme-color-2: #999;
$nav-btn-bgk: #efefef;
$opt-btn-bgk: #204d74;
$title-bgk-color: #eee;
$c-white: #fff;

/* 定义字体大小 */
$font24: 1.5rem;
$font20: 1.25rem;
$font12: .75rem;

$cel: center;

$font-title: 2rem;
$font-md-title: 20px;
$font-sm-title: 18px;
$font-tab-tit: 1rem;
$font-text: 0.88rem;

$font-menu: 1.2rem;
$font-btn-primary: 1.4rem;
$font-btn: 1.2rem;

$border: 1px solid rgba(200,200,200,.6);
