@import "./variables.scss";

.container {
  > section {
    min-height: 100vh;
    max-width: $content;
    margin: 0 auto;
    padding: 2rem 1.2rem;
  }
}

.clearFloat {
  display: block;
  font-size: 0;
  height: 0;
  width: 0;
  overflow: hidden;
  clear: both;
}
